.Main {
  padding: 2em;
}

.MainWrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  //height: 100vh;
  margin: 3rem auto auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  //box-shadow: 0 16px 38px #80b2cd, 0 15px 12px #bacbda;
  max-width: max-content;
  border: 2px dashed #662d91;

  @media screen and (min-width: 750px) {
    flex-direction: row;
  }
  .Tagline {
    font-family: var(--primary-font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    text-align: center;

    justify-content: space-between;

    @media screen and (min-width: 750px) {
      min-height: 50vh;
      justify-content: center;
      row-gap: 1rem;
    }

    h4 {
      font-style: italic;
      padding: 1em;
    }
  }
}
.ButtonWrapper {
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 750px) {
    justify-content: space-evenly;
  }
}
// .Image {
//   max-width: 500px;
//   margin: 0 auto;
//   margin-top: 3em;
// }

.ImageWrapper {
  //max-height: 300px;
  max-width: 500px;

  .Image {
    height: auto;
    margin: 0 auto;
  }
}
