.NavWrapper {
  padding: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .Logo {
    max-width: 3.25em;
    border-radius: 50%;
    background-color: var(--primary-blue);

    @media screen and (min-width: 750px) {
      max-width: 5.25em;
    }
  }

  .NavItems {
    margin-left: auto;
    font-family: var(--primary-font);
    color: var(--primary-black);
  }
}

.NavItem {
  padding: 0 1em;
  color: var(--primary-black);
  text-transform: uppercase;
  text-decoration: none;

  &.NavItem:hover {
    color: var(--primary-blue);
    text-decoration-style: dashed;
  }
}
