.PageWrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-family: var(--primary-font);
  //background-color: var(--primary-pink);

  .CardWrapper {
    padding: 1em;
  }

  .Header {
    margin-bottom: 2em;
    text-align: center;
    text-transform: uppercase;
  }
}

.Error {
  font-size: small;
  color: red;
}

.ErrorMessage {
  border: 2px solid red;
}

.BackToProfile {
  margin-top: 4em;
  width: max-content;
  margin-left: auto;
}
