.MainWrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 100vh;
  // max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;

  // @media screen and (min-width: 750px) {
  //   flex-direction: row-reverse;
  // }

  .Tagline {
    font-family: var(--primary-font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    text-align: center;

    justify-content: space-between;

    @media screen and (min-width: 750px) {
      min-height: 50vh;
      justify-content: center;
      row-gap: 1rem;
    }

    h4 {
      font-style: italic;
      padding: 1em;
    }
  }
}
.ButtonWrapper {
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 750px) {
    justify-content: space-evenly;
  }
}
// .Image {
//   max-width: 500px;
//   margin: 0 auto;
//   margin-top: 3em;
// }

.ImageWrapper {
  //max-height: 300px;
  max-width: 500px;

  .Image {
    height: auto;
    margin: 0 auto;
  }
}
